# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Env / secrets
.env
*.env.local

# Database
data/*.db
data/*.sqlite3

# Streamlit
.streamlit/

# OS
.DS_Store

# IDE
.vscode/
.idea/

# Node / Next.js
node_modules/
.next/
out/
build/
npm-debug.log*

.env

# build documentation
docs/
